@use "./variables.scss" as *;

// put your custom CSS here!
.breadcrumb-container {
  margin-bottom: 1.5rem;
}

.page-header h1 {
  margin-bottom: 0.25rem;
}

.content-meta {
  margin-top: 0;
}

.page-listing {
  display: none;
}
